.ey_title_font_color_and_family{

    font-family: "Domine", serif;
    color: white;

}
.ey_desription_font_color_and_family{

    font-family: "Funnel Display", sans-serif;
    
}

.ey_btn_font_color_and_family{
    font-family: "Space Mono", monospace;
}